.container-footer {
    width: 100%;
    border-top: 1px solid $color1;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.foot-text {   
    font-family: $fonts1;
    font-size: 14px;
    color: $color2;
    line-height: 60px;
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.foot-text a {
    color: $color3;
}

.form {
    position: relative;
    display: inline;
    line-height: 60px;
    margin-left: 0;
    margin-right: 0;
} 

input {
    border: 1px solid $color1;
    height: 40px;
    width: 380px;
    padding: 0 10px;
}

input::placeholder {
    font-family: $fonts2;
    font-size: 15px;
    font-style: italic;
    color: $color1;
    padding: 0 10px;
}

.btn {
    position: absolute;
    right: 1px;
    top: 18%;
    box-sizing: border-box;
    background-color: $color4;
    color: $color5;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $fonts1;
    padding: 11px 20px;
    font-weight: bold;
    cursor: pointer;
    border: 0;
}